<footer>
  <div class="footer-container">
    <div class="footer-section footer-one">
      <div>
        <p><%= title + ' ' + number %> the greatest!</p>
      </div>
      <div>
        <p>Page Created August 2021</p>
      </div>
    </div>
    <div class="footer-section footer-two">
      <form action="" method="" class="login-form">
        <div class="form-row">
          <p id="greeting" class="greeting">Welcome!</p>
        </div>
        <div class="form-row">
          <label for="login-name" class="label">Name</label>
          <input
            id="login-name"
            name="login-name"
            type="text"
            placeholder="Meow-Meow"
          />
        </div>
        <div class="form-row form-button">
          <button id="login-button">Login</button>
        </div>
      </form>
    </div>
    <div class="footer-section footer-three">
      <p>About Page Creator</p>
    </div>
  </div>
</footer>
