<div class="pic-container">
  <% if(name == 'Seneca') { %>
  <img class="cat-pic" src="/seneca-pool.jpg" alt="Seneca on the pool table." />
  <% } if(name == 'Freya') { %>
  <img class="cat-pic" src="/freya-woods.jpg" alt="Freya in the woods." />
  <% } if(name == 'Nico') { %>
  <img class="cat-pic" src="/nico-azalea.jpg" alt="Nico in the gardin." />
  <% } %>
</div>

<!--
  <div class='pic-container'>
    <img class='cat-pic' src='/seneca-pool.jpg' alt='Seneca on the pool table.'>
  </div>
-->
