<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/seneca'>Seneca</a></li>
    <li><a href='/nico'>Nico</a></li>
    <li><a href='/freya'>Freya</a></li>
  </ul>
</nav>
<div class='main-title'>
  <h1 class="page-title">Cats of Martha</h1>
</div>