<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <header><%- include('./partials/nav.ejs') %></header>

    <div class="page">
      <div class="content">
        <section class="cat-description">
          <h2>Seneca</h2>
          <p>
            Seneca is a simple slumbering kitty. She is unassuming and never
            overthinks. Her school of thought is best represented by Taoism, for
            she is humble, kind, and at peace with the flow of the universe. To
            cuddle with Seneca is know the greatest comforts this world has to
            offer. She is warmer and softer than most cats. Her coat comprises
            all the colors a cat could hope to boast of.
          </p>
        </section>

        <section class="cat-description">
          <h2>Nico</h2>
          <p>
            Nico is the edge of night. She loves with a deep fury and attacks
            those who encroach upon her comfort zones. She is often found in a
            secure location, keeping a watchful eye on whatever is going about
            nearby. Her 'Murs' bring warmth and joy to all who have the ears to
            hear her. Never far from the pack, Nico knows her duty to the
            family. She protects and teaches her sisters the way forward.
          </p>
        </section>

        <section class="cat-description">
          <h2>Freya</h2>
          <p>
            Freya is an endless adventurer. Her pleasure is most abundant
            outdoors where she races, swifter than all others, and appraises the
            best trees for a climb. Her singing voice knows no rival, and she is
            often in the mood for a song. Let her pace about a lap in search of
            the scratches, pats, and rubs. She will not settle until she has
            assessed the safty and security of her seat.
          </p>
          <h3>Best Friend Sister Cats</h3>
        </section>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
